{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CodeSyncr</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Pricing-Table-Style-48-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Pricing-Table-Style-48.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">CodeSyncr</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">About us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="register-photo" style="background-image: url({% static 'img/star-sky.jpg' %});height: inherit;">
    <div id="mainDiv" class="form-container">
        <div class="jumbotron" style="background-color: rgba(233,236,239,0);color: rgb(255,255,255);">
            <h1>Code</h1>
            <h1>Compile</h1>
            <h1>Collaborate</h1>
            <p>CodeSyncr is an online code editor and compiler that allows its users to test and run code in a real-time
                collaborative environment!</p>
        </div>
        <form method="post" id="registerForm" style="max-width: 500px;">
            {% csrf_token %}
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group"><input class="form-control" type="text" placeholder="Name" name="name"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="pwd" placeholder="Password"></div>
            <div class="form-group"><span style="font-size: 12px ;color:red">{{ error }}</span></div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </div>
            <a href="/login" class="already">You already have an account? Login here.</a></form>
    </div>
</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <p class="copyright">CodeSyncr © 2020</p>
    </footer>
</div>
<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>