{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeSyncr</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/linkTable.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar">

    <div class="logo"><a href="/" style="text-decoration: none"><span class="clogo">C</span><span class="endlogo">odeSyncr</span></a>
    </div>
    <ul class="navitems">
        <li class="navitem"><a href="">About</a></li>
        <li class="navitem"><a href="">Contact Us</a></li>
        <li class="navitem"><a href="/clearsession">Logout</a></li>
    </ul>
</nav>
<div>
    <section class="main_section">
        <div class="table-title">
            <h3>All Projects</h3>
            <form action="/createlink" method="get">
                {% csrf_token %}
                <button type="submit">Create New Project</button>
            </form>
        </div>
        <table class="table-fill">
            <thead>
            <tr>
                <th colspan="1" class="text-left">Links</th>
            </tr>
            </thead>
            <tbody class="table-hover">

            {% for link in links %}
                <tr>
                    <td class="text-left">

                        <div style="display: flex; justify-content: space-between">
                            <div style="height: 100%;width: 100%;cursor: pointer"
                                 onclick="window.location='/{{ link.0 }}'">{{ link.1 }}</div>
                            <button name=" copy2clipboard" type="button" id="copy2clipboard"
                                    style="line-height:3;padding-left: 5px;padding-right: 5px"
                                    onclick="copy_clipboard('{{ link.0 }}')">

                                <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path fill-rule="evenodd"
                                          d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
</div>


<script>
    function copy_clipboard(id) {


        // Create a dummy input to copy the string array inside it
        var dummy = document.createElement("input");

        // Add it to the document
        document.body.appendChild(dummy);

        // Set its ID
        dummy.setAttribute("id", "dummy_id");

        // Output the array into it
        document.getElementById("dummy_id").value = document.URL + id;

        // Select it
        dummy.select();

        // Copy its contents
        document.execCommand("copy");

        // Remove it as its not needed anymore
        document.body.removeChild(dummy);

    }

</script>
</body>
</html>
