{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CodeSyncr</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Pricing-Table-Style-48-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Pricing-Table-Style-48.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background-image: url({% static 'img/star-sky.jpg' %})">
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand text-left" href="#">
        <div onclick="window.open('/', '_self')"> CodeSyncr</div>
    </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="spn sr-only">Toggle navigation</span><span
                class="spn navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">My Projects</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/clearsession">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="projectSection" style="height: 65vh;">
    <div id="projectDiv">
        <div id="projectHeader">
            <h1 style="color: white" class="text-left">Hi {{ name }}</h1>
            <form action="/createlink" method="get">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit"
                        style="margin-top: 0.5em;margin-bottom: 0.5em;margin-left: 0.5em;background-color: rgb(235,59,96);max-height: 40px;align-self: center;">
                    Create Project
                </button>
            </form>

        </div>
        <div class="table-responsive table-borderless"
             id="projectTable">
            <table class="table table-striped table-bordered table-dark">
                <thead>
                <tr>
                    <th>Projects</th>
                </tr>
                </thead>
                <tbody>

                {% if links %}
                    {% for link in links %}
                        <tr>
                            <td>
                                <div id="projectItem">
                                    <div style="cursor: pointer" onclick="window.location='/{{ link.0 }}'">
                                        <span class="spn text-center">{{ link.1 }}</span>
                                    </div>
                                    <div style="display:flex">
                                        <button class="btn btn-primary utility" type="button"
                                                style="margin: 0.2em;background-color: rgb(118,167,89);"
                                                onclick="copy_clipboard('{{ link.0 }}')">
                                        <i class="la la-clipboard"><span class="spn tooltiptext">Copy Link</span></i></button>
                                        <button class="btn btn-primary utility" type="button"
                                                style="margin: 0.2em;background-color: rgb(225,96,96);"
                                                onclick="delete_user('{{ link.0 }}')"><i
                                                class="fa fa-trash"><span class="spn tooltiptext">Delete</span></i></button>
                                        <button
                                                class="btn btn-primary utility" type="button"
                                                style="margin: 0.2em;background-color: rgb(235,59,96);display:flex"><i
                                                class="fas fa-users" style="margin-top: 0.3em;margin-right: 0.2em;"><span class="spn tooltiptext">Team</span></i><span class="spn"
                                                id="collabCounter"
                                                style="font-size: 18px;">{{ link.2 }}</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}

                    <tr>
                        <td>
                            <div id="projectItem">
                                <span class="spn text-center" style="color: red">No projects found</span>

                            </div>
                        </td>
                    </tr>

                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">CodeSyncr © 2020</p>
    </footer>
</div>

<script>

    function copy_clipboard(id) {


        // Create a dummy input to copy the string array inside it
        var dummy = document.createElement("input");

        // Add it to the document
        document.body.appendChild(dummy);

        // Set its ID
        dummy.setAttribute("id", "dummy_id");

        // Output the array into it
        document.getElementById("dummy_id").value = document.URL + id;

        // Select it
        dummy.select();

        // Copy its contents
        document.execCommand("copy");

        // Remove it as its not needed anymore
        document.body.removeChild(dummy);

    }

    cookies = document.cookie.split(';').reduce((cookies, cookie) => {
        const [name, value] = cookie.split('=').map(c => c.trim());
        cookies[name] = value;
        return cookies;
    }, {});

    function delete_user(link) {

        $.ajax({
            type: "POST",
            url: "/delete_user_from_project/" + link + "/",
            dataType: "json",
            data: {"data": ""},
            headers: {"X-CSRFToken": cookies["csrftoken"]},

            success:
                function (data) {
                    location.reload();
                }
        });


    }
</script>

<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>