{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CodeSyncr</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Pricing-Table-Style-48-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Pricing-Table-Style-48.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        #codearea * {
            font-family: monospace !important;
            font-size: 16px !important;
            direction: ltr !important;
            text-align: left !important;
            {#position: absolute;#}
        }


    </style>

</head>

<body style="background-image: url({% static 'img/star-sky.jpg' %})">
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand text-left" href="#" style="display:flex"><div onclick="window.open('/', '_self')"> CodeSyncr</div>
        <div id="project_name" style="max-width: 50vw;min-width: 5vw;margin-left: 1em;cursor: text;"
             contenteditable="true"
             onblur="project_name_change()">{{ project_name }}</div>
    </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="spn sr-only">Toggle navigation</span><span
                class="spn navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">My Projects</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/clearsession">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="codeSection">
    <div id="codeArea" style="height: 70vh;
    width: 150vw;">
        <div id="codearea" style="height: 100%; width: 100%;position: relative">{{ data }}</div>
    </div>
    <div id="codeOutput">
        <div id="codeMenu">
            <div class="dropdown ">
                <button id="language" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="true"
                        type="button" style="background-color: rgb(102,102,103);margin: 0.5em;height: 38px;">Language
                </button>
                <div class="dropdown-menu " role="menu">
                    <a class="dropdown-item" role="presentation" href="#" onclick="language_changed('c_cpp')">C++</a>
                    <a class="dropdown-item" role="presentation" href="#"
                       onclick="language_changed('python')">Python</a>
                    <a class="dropdown-item" role="presentation" href="#" onclick="language_changed('java')">Java</a>
                </div>
            </div>
            <button class="btn btn-primary" type="button" onclick="execute_code()"
                    style="margin: 0.5em;background-color: rgb(114,180,82);height: 38px;">Run
            </button>
            <div class="dropdown ">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                        type="button" style="background-color: rgb(102,102,103);margin: 0.5em;height: 38px;left:95%">
                    Online - {{ num_of_collabs }}&nbsp;
                </button>
                <div class="dropdown-menu "
                     role="menu">
                    <a class="dropdown-item" style="color: #19ee19" role="presentation" href="#">
                        <div style="display:flex"><i class="fa fa-user-circle-o"
                                                     style="padding: 0;margin-right: 0.5em;width: 21px;font-size: 23px;padding-top: 4px;"></i><span class="spn"
                                style="font-size: 23px;">{{ current_user }}</span></div>
                    </a>


                    {% for collab in collabs %}

                        {% if collab.1 == True %}
                            <a class="dropdown-item" style="color: #19ee19" role="presentation" href="#">

                        {% else %}
                            <a class="dropdown-item" role="presentation" href="#">
                        {% endif %}
                    <div style="display:flex"><i class="fa fa-user-circle-o"
                                                 style="padding: 0;margin-right: 0.5em;width: 21px;font-size: 23px;padding-top: 4px;"></i><span class="spn"
                            style="font-size: 23px;">{{ collab.0 }}</span></div>
                    </a>

                    {% endfor %}


                </div>
            </div>
        </div>
        <div id="divTextArea"><div id="codeoutput" readonly="" style="height: 100%;width: 100%;background-color: white;padding: 1em;overflow: auto"></div></div>
    </div>
</section>
<div style="height: 50px;"></div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">CodeSyncr © 2020</p>
    </footer>
</div>
<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


<script src="{% static 'ace-src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/text_change_ajax.js' %}"></script>
<script src="{% static 'js/code_handler.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("codearea");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/{{ language }}");
    editor.resize();
    $("#language").html("{{ language }}");
    var local_storage_dict = {};
    local_storage_dict["copy"] = `{{ data }}`;
    local_storage_dict["version"] ={{ version }};
    localStorage.setItem(session_link, JSON.stringify(local_storage_dict));


</script>

</body>

</html>